#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;

}

/*.ui-progressbar-value {*/
    /*font-size: 13px;*/
    /*font-weight: normal;*/
    /*line-height: 18px;*/
    /*padding-left: 50px;*/
/*}*/

